.control-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headline {
  position: relative;
  left: 40%;
  transform: translateX(-50%);
}
.headline > .title-wrapper {
  text-align: center;
}

.headline > * > h1 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.headline > * > p {
  margin-top: 3px;
  font-size: small;
}

.control-wrapper > button {
  padding: 5px 10px;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 3px;
  color: white;
  box-shadow: 2px 2px #888888;
  cursor: pointer;
  z-index: 12 !important;
}

.control-wrapper > button:hover {
  border-color: rgb(255, 255, 255);
}

.control-wrapper > .btn-run {
  background-color: rgb(86, 202, 96);
}

.control-wrapper > .btn-export {
  background-color: rgb(251, 92, 92);
}

.control-wrapper > .greyed-out {
  background-color: #888888;
  pointer-events: none;
}
.spinner {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .headline > * > p {
    display: none;
  }
}
