.btn-upload {
  padding: 5px 10px;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 3px;
  color: white;
  box-shadow: 2px 2px #888888;
  cursor: help;
  z-index: 12 !important;
  /* background-color: #fbad39; */
  background-color: #888888;
  position: relative;
}

#input-geojson-upload {
  display: none;
}

#label-geojson-upload {
  cursor: help;
}

#form-geojson-upload.drag-active {
  background-color: #f7cc8c;
}

#drag-pseudo-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
